.full-height {
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.browser {
  position: relative;
  width: 45%;
  height: 60%;
  background-color: $lightgray;
  border: 3px solid $gray;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  -webkit-transition: all 500ms;
  transition: all 500ms;

  &__close,
  &__minimize,
  &__maximize {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    float: left;
    margin-right: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &__close {
    background-color: #ff605c;
  }

  &__minimize {
    background-color: #ffbd44;
  }

  &__maximize {
    background-color: #00ca4e;
  }

  &__address-bar {
    width: 108%;
    margin-left: -4%;
    border-top: 3px solid $gray;
    margin-top: 20px;
  }

  &--is-full-screen {
    height: 99%;
    width: 99%;
  }

  &--is-minimized {
    height: 36px;
  }
}

.browser__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 500ms;
  transition: all 500ms;

  .x {
    position: relative;
    width: 60px;
    height: 60px;
    margin-top: 20%;
    margin-bottom: 30px;
    border: 3px solid $gray;
    border-radius: 50%;
    -webkit-transition: all 500ms;
    transition: all 500ms;

    &:before,
    &:after {
      width: 40px;
      height: 3px;
      position: absolute;
      top: 49%;
      left: 50%;
      margin-left: -20px;
      background-color: $gray;
      content: '';
      display: block;
    }

    &:before {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:hover {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

@media only screen and (max-width: 640px) {
  .browser {
    width: 70%;
    height: 80%;

    .x {
      margin-top: 30%;
    }
  }
}
